@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: -webkit-linear-gradient(#8fffef, #f9f490);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient2 {
  background: -webkit-linear-gradient(#da88b9, #f9f490);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-2%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.bounce {
  animation: bounce 1s infinite;
}
